<app-header title="Bank"></app-header>


<div class="container-fluid">
    <div class="py-3 text-center">

        <p><strong>Rekening Transaksi</strong></p>
        <h4 > {{items['bank']}}</h4>
        <strong>  {{items['pt']}} </strong>

       
        <input type="text" value="{{items['bank']}}, {{items['pt']}}" class="copy" readonly id="bank">

        <button type="button" (click)="copas();" class="btn btn-outline-primary btn-sm m-3">Copy to clipboard</button>
    </div>
  

    <div class="p-3 text-center" [innerHTML]="items['info']"> </div>
</div>

<app-tabs></app-tabs>