<div class="footer border-top shadow-sm bg-white">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col text-center">
                <div [routerLink]="[ '/items']">
                    <img src="./assets/icon/coffee.svg" height="20">
                    <div><small>Items</small></div>
                </div>

            </div>
            <div class="col text-center">
                <div [routerLink]="[ '/transcation']">
                    <img src="./assets/icon/file-text.svg" height="20">
                    <div><small>Transaction</small></div>
                </div>
             
            </div>
         
            <div class="col text-center">
                <div [routerLink]="[ '/bank']">
                    <img src="./assets/icon/dollar-sign.svg" height="20">
                    <div><small>Bank</small></div>
                </div>
            </div>

            <div class="col text-center">
                <div [routerLink]="[ '/weeklyperformance']">
                    <img src="./assets/icon/bar-chart.svg" height="20">
                    <div><small>Weekly</small></div>
                </div>
             
            </div>

            <div class="col text-center">
                <div [routerLink]="[ '/profile']">
                    <img src="./assets/icon/user.svg" height="20">
                    <div><small>Profile</small></div>
                </div>

            </div>
        </div>
    </div>
</div>