<div class="footer border-top shadow-sm bg-white">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col text-center">
                <div [routerLink]="[ '/items']">
                    <img src="./assets/icon/cup-64.png" height="20">
                    <div><small>Coffee</small></div>
                </div>

            </div>
            <div class="col text-center">
                <div [routerLink]="[ '/transcation']">
                    <img src="./assets/icon/icons8-transaction-approved-64.png" height="20">
                    <div><small>Transaction</small></div>
                </div>
             
            </div>
         
            <div class="col text-center">
                <div [routerLink]="[ '/bank']">
                    <img src="./assets/icon/icons8-mobile-payment-64.png" height="20">
                    <div><small>Bank</small></div>
                </div>
            </div>

            <div class="col text-center">
                <div [routerLink]="[ '/weeklyperformance']">
                    <img src="./assets/icon/icons8-combo-chart-64.png" height="20">
                    <div><small>Weekly</small></div>
                </div>
             
            </div>

            <div class="col text-center">
                <div [routerLink]="[ '/profile']">
                    <img src="./assets/icon/icons8-male-user-64.png" height="20">
                    <div><small>Profile</small></div>
                </div>

            </div>
        </div>
    </div>
</div>