<ngx-spinner></ngx-spinner>

<h4 class="text-center">VIRTUAL SATELLITE OUTLET</h4>

<form class="form-signin" (ngSubmit)="onSubmit()" #myForm="ngForm"> 
    <div class="text-center mb-4">
      
        <small><b>By</b></small>
        <img class="mb-4" src="./assets/logo.jpg" width="80%"> 
    </div>

    <div class="form-label-group">
        <input type="number" id="p" class="form-control" placeholder="Phone Number" required autofocus  
        [(ngModel)]="login.phone" name="phone" #phone="ngModel">
        <label for="p">Phone Number regsitered by admin</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required      [(ngModel)]="login.password" name="password" #password="ngModel">
        <label for="inputPassword">Password</label>
    </div>

    <p class="text-center text-danger">{{note}}</p>

    <button class="btn btn-lg btn-dark btn-block" type="submit" [disabled]="!myForm.form.valid" >Sign in</button>
</form>
 
 
<p class="mt-5 mb-3 text-muted text-center">&copy; ver 1.0.0</p>