<ngx-spinner></ngx-spinner>

<header class="border-bottom shadow-sm">
    <nav class="navbar navbar-light bg-white ">
        <div class="row no-gutters py-2">
            <div class="col-2">
                <a href="javascript:;" (click)="back();"> <img src="./assets/icon/arrow-left.svg"></a>
            </div>
            <div class="col-10 ">
               <h4 class="pb-0 mb-0"> Order :  {{transactionCode}}</h4>
            </div>
        </div>
    </nav>
</header>


<div class="bg-light">
    <div class="px-3 py-2">
        <b> Delivery To </b>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-12 mt-2">
            <div [hidden]="editCustomer">
                <div class="row no-gutters">
                    <div class="col-11">
                        <strong>{{customer.name}}</strong>
                        <div>
                            <small>
                                {{customer.phone}}, , {{customer.email}} {{customer.address}}
                            </small>
                        </div>
                    </div>
                    <div class="col-1 text-center">
                        <a href="javascript:;" (click)="editCustomer=true"> <img src="./assets/icon/arrow-right.svg"> </a>
                    </div>
                </div>


            </div>


            <div [hidden]="!editCustomer">
                <strong>Edit Customer</strong>
                <form (ngSubmit)="onUpdateCustomer()" #myForm="ngForm">
                    <div class="form-group">
                        <label for="h1">Phone*</label>
                        <input type="tel" class="form-control" id="h1" required [(ngModel)]="customer.phone" name="phone" #phone="ngModel" (change)="onAutoCustomer();">
                    </div>



                    <div class="form-group">
                        <label for="h2">Name*</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name" #name="ngModel">
                    </div>

                    <div class="form-group">
                        <label for="h3">Email <small>Optional</small></label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="customer.email" name="email" #email="ngModel">
                    </div>

                    <div class="form-group">
                        <label for="h4">Address*</label>
                        <textarea id="h4" required class="form-control" [(ngModel)]="customer.address" name="address" #address="ngModel"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-success" type="submit" [disabled]="!myForm.form.valid"> Save </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>







<div class="bg-light">
    <div class="px-3 py-2">
        <b> Location Outlet</b>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12">
            <select class="form-control my-2" [(ngModel)]="branchesId" (change)="updateBranches();">
                <option *ngFor="let x of selectBranches" [value]="x.id">{{x.location}}</option>
            </select>
        </div>
    </div>
</div>





<div class="bg-light">
    <div class="px-3 py-2">
        <b> Order Summary</b>
    </div>
</div>

<div class="container-fluid mb-7">
    <div class="row  py-2 border-bottom" *ngFor="let x of cart; let i = index" (click)="open(content,x)">
        <div class="col-2">
            <div class="alert border p-1 text-center line-height-sm">
                {{x.qty}}x
            </div>
        </div>
        <div class="col-7">
            <div class="line-height-sm">{{x.name}} {{x.size}}</div>
            <div class="py-1 line-height-sm">
                <small>{{x.note}}</small>
            </div>
        </div>
        <div class="col-3 text-right line-height-sm">
            {{x.total | number }}
        </div>

    </div>

</div>



<div class="footer bg-white border-top">

    <div class="row" [hidden]="editCustomer">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col py-2">Total</div>
                    <div class="col text-right py-2"><strong>{{currency}} {{total | number}}</strong></div>
                </div>
            </div>
        </div>
        <div class="col py-2 text-center mx-2">
            <button type="button" (click)="onSubmit();" class="btn btn-success btn-block">PROCCESS NOW </button>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header bg-white">
        <h5 class="modal-title">
            <a (click)="modal.dismiss('Cross click')">
                <img src="./assets/icon/arrow-left.svg">
            </a>
            Edit Qty
        </h5>

    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-9">
                <small>Size</small>
            </div>
            <div class="col-3 text-center">
                <small>Qty</small>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-9">
                <div> <strong> {{ itemDetail.name }} </strong> </div>
                <div>Size {{ itemDetail.size }}</div>
                <div>
                    <strong>Price {{currency }} {{itemDetail.price | number}}</strong>
                </div>
            </div>
            <div class="col-3 text-center">
                <input type="number" class="form-control border px-1" [(ngModel)]="itemDetail.qty">
            </div>
 
            <div class="col-12 mt-3">
                Notes
            </div>
            <div class="col-12">
                <textarea class="form-control border p-2" autosize [(ngModel)]="itemDetail.note"></textarea>
            </div>
        </div>  

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-danger btn-block my-2 py-2" (click)="removeItem();">Remove</button>

        <button type="button" class="btn btn-warning btn-block my-2 py-2" (click)="updateItem();">Update</button>
    </div>
</ng-template>