<ngx-spinner></ngx-spinner>

<app-header title="Profile"></app-header>

<div class="container-fluid">

    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pointer" (click)="open(profileModal)"> <img src="./assets/icon/edit.svg" width="20"> Edit Profile </li>
            <li class="list-group-item pointer" (click)="open(passwordModal)"> <img src="./assets/icon/file-text.svg" width="20"> Changes Password</li>
            <li class="list-group-item pointer" (click)="logout()">
                <img src="./assets/icon/log-out.svg" width="20"> Logout
            </li>
        </ul>
    </div>


</div>




<ng-template #profileModal let-modal>
    <div class="modal-header bg-white">
        <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form (ngSubmit)="onSubmitUser()" #userForm="ngForm">
            <div class="form-group">
                <label for="name">Phone Number</label>
                <input type="text" class="form-control" readonly disabled value="{{phone}}">

            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="userModel.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="power">Bank</label>
                <select class="form-control" id="bank" required [(ngModel)]="userModel.bank" name="bank" #bank="ngModel">
                    <option value="" [hidden]="userModel.bank">Choose Bank</option>
                    <option value="Mandiri">Mandiri</option>
                    <option value="Bukopin">Bukopin</option>
                    <option value="Danamon">Danamon</option>
                    <option value="Bank Mega">Bank Mega</option>
                    <option value="Bank CIMB Niaga">Bank CIMB Niaga</option>
                    <option value="Bank Permata">Bank Permata</option>
                    <option value="Bank Sinarmas">Bank Sinarmas</option>
                    <option value="Bank QNB">Bank QNB</option>
                    <option value="Bank Lippo">Bank Lippo</option>
                    <option value="Bank UOB">Bank UOB</option>
                    <option value="Panin Bank">Panin Bank</option>
                    <option value="Citibank">Citibank</option>
                    <option value="Bank ANZ">Bank ANZ</option>
                    <option value="Bank Commonwealth">Bank Commonwealth</option>
                    <option value="Bank Maybank">Bank Maybank</option>
                    <option value="Bank Maspion">Bank Maspion</option>
                    <option value="Bank J Trust">Bank J Trust</option>
                    <option value="Bank QNB">Bank QNB</option>
                    <option value="Bank KEB Hana">Bank KEB Hana</option>
                    <option value="Bank Artha Graha">Bank Artha Graha</option>
                    <option value="Bank OCBC NISP">Bank OCBC NISP</option>
                    <option value="Bank MNC">Bank MNC</option>
                    <option value="Bank DBS">Bank DBS</option>
                    <option value="BCA">BCA</option>
                    <option value="BNI">BNI</option>
                    <option value="BRI">BRI</option>
                    <option value="BTN">BTN</option>
                    <option value="Bank DKI">Bank DKI</option>
                    <option value="Bank BJB">Bank BJB</option>
                    <option value="Bank BPD DIY">Bank BPD DIY</option>
                    <option value="Bank Jateng">Bank Jateng</option>
                    <option value="Bank Jatim">Bank Jatim</option>
                    <option value="Bank BPD Bali">Bank BPD Bali</option>
                    <option value="Bank Sumut">Bank Sumut</option>
                    <option value="Bank Nagari">Bank Nagari</option>
                    <option value="Bank Riau Kepri">Bank Riau Kepri</option>
                    <option value="Bank Sumsel Babel">Bank Sumsel Babel</option>
                    <option value="Bank Lampung">Bank Lampung</option>
                    <option value="Bank Jambi">Bank Jambi</option>
                    <option value="Bank Kalbar">Bank Kalbar</option>
                    <option value="Bank Kalteng">Bank Kalteng</option>
                    <option value="Bank Kalsel">Bank Kalsel</option>
                    <option value="Bank Kaltim">Bank Kaltim</option>
                    <option value="Bank Sulsel">Bank Sulsel</option>
                    <option value="Bank Sultra">Bank Sultra</option>
                    <option value="Bank BPD Sulteng">Bank BPD Sulteng</option>
                    <option value="Bank Sulut">Bank Sulut</option>
                    <option value="Bank NTB">Bank NTB</option>
                    <option value="Bank NTT">Bank NTT</option>
                    <option value="Bank Maluku">Bank Maluku</option>
                    <option value="Bank Papua">Bank Papua</option>
                </select>
                <div [hidden]="bank.valid || bank.pristine" class="alert alert-danger">
                    Bank is required
                </div>
            </div>

            <div class="form-group">
                <label for="rek">Nomor Rekening</label>
                <input type="text" class="form-control" id="rek" required [(ngModel)]="userModel.rek" name="rek" #rek="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Nomor Rekening is required
                </div>
            </div>


            <div class="form-group">
                <label for="account"> Nama Pemilik Rekening </label>
                <input type="text" class="form-control" id="account" required [(ngModel)]="userModel.account" name="account" #account="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Account name is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="userModel.email" name="email" #email="ngModel">

            </div>

            <button type="submit" class="btn btn-success btn-block" [disabled]="!userForm.form.valid">Submit</button>
        </form>

    </div>

</ng-template>



<ng-template #passwordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form (ngSubmit)="onSubmitPass()" #userForm="ngForm">

            <div class="form-group">
                <label for="pass">Old Password</label>
                <input type="password" class="form-control" id="pass" required [(ngModel)]="resetPassw.pass" name="pass" #pass="ngModel">
                <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
                    Old Password is required
                </div>
            </div>

            <div class="form-group">
                <label for="newPass1">New Password</label>
                <input type="password" class="form-control" id="newPass1" required [(ngModel)]="resetPassw.newPass1" name="newPass1" #newPass1="ngModel">
                <div [hidden]="newPass1.valid || newPass1.pristine" class="alert alert-danger">
                    New Password is required
                </div>
            </div>

            <div class="form-group">
                <label for="newPass2">New Password Confirm</label>
                <input type="password" class="form-control" id="newPass2" required [(ngModel)]="resetPassw.newPass2" name="newPass2" #newPass2="ngModel">
                <div [hidden]="newPass2.valid || newPass2.pristine" class="alert alert-danger">
                    New Password Confirm is required
                </div>
            </div>

            <div class="py-2 text-center">
                {{note}}
            </div>

            <button type="submit" class="btn btn-warning btn-block" [disabled]="!userForm.form.valid">Submit</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<app-tabs></app-tabs>