<app-header title="Transaction"></app-header>



<div class="bg-light px-1 mb-2 pointer" (click)="open(content,x)" *ngFor="let x of transaction">
    <div class="row no-gutters">
        <div class="col-10 ">
            <div class="p-2">
             
                <strong>{{x.brand}}</strong>
                <div class="line-height-sm">
                    <small><b> {{x.customer.name}}, {{x.customer.phone}}</b></small> 
                    <div class="cut-text">
                        <small> {{x.customer.address}}</small>
                    </div>
                    <code class="text-success">{{x.status}} </code> 
                </div>

            </div>
        </div>
        <div class="col-2">
            <div class="py-2">
                {{x.transactionDate | date:'d MMM'}}
            </div>
        </div>
    </div>

</div>

 
<div class="mb-6"></div>

<app-tabs></app-tabs>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order {{item.transactionCode}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="bg-light">
            <div class="px-3 py-2">
                <b> Delivery To </b>
            </div>
        </div>
        <div class="px-3 py-1 mb-3">
            <strong>{{item.customer.name}}</strong>
            <div>
                <small>
                    {{item.customer.phone}}, {{item.customer.address}}, {{item.customer.email}}
                </small>
            </div>
        </div>

 
        <div class="bg-light">
            <div class="px-3 py-2">
                <b> Brand & Outlet Location </b>
            </div>
        </div>
        <div class="px-3 py-1 mb-3"> 
            <div>
               {{item.brand}}, {{item.location}}
            </div>
        </div> 


        <div class="bg-light">
            <div class="px-3 py-2">
                <b> Order Summary </b>
            </div>
        </div>
        <div class="px-3 py-1 mb-3"> 
            <div class="row  no-gutters border-bottom py-1" *ngFor="let x of item.cart" >
                <div class="col-2">
                    <div class="alert border p-1 text-center line-height-sm mr-1">
                       {{x.qty}}x
                    </div>
                </div>
                <div class="col-7">
                    <div class="line-height-sm">{{x.name}}  </div>
                    <div class="py-1 line-height-sm">
                        <small> {{x.size}}.  Rp {{x.price | number}}</small>
                    </div>
                </div>
                <div class="col-3 text-right line-height-sm">
                   {{x.total | number}}
                </div>
        
            </div>
    
        </div> 
        

    </div>

    <div class="modal-footer">
        <div class="row no-gutters">
            <div class="col pb-2">
                <div class="badge badge-{{item.statusColor}} mr-2">{{item.status}}</div>
            </div>
       
            <div class="col text-right pb-2">Total <strong>Rp {{item.total | number}}</strong></div>
        </div>
        <button type="button" class="btn btn-outline-dark btn-block" (click)="modal.close('Save click')">Closed</button>
    </div>
</ng-template>